.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  font-family: var(--font-geist-sans);
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
}

.scene {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.window {
  position: absolute;
  left: calc(5vw - 100px);
  top: -300px;
  width: min(80px, 6vw);
  height: min(100px, 7vh);
  margin: 0;
  padding: 0;
  display: block;
  z-index: 10;
}

.goofe {
  width: min(1200px, 90vw);
  height: min(900px, 68vh);
  margin: 0;
  padding: 0;
  display: block;
}

@media (max-width: 768px) {
  .window {
    left: 2vw;
    top: 5vh;
    width: min(450px, 57vw);
    height: min(563px, 45vh);
  }

  .goofe {
    width: min(900px, 120vw);
    height: min(675px, 90vh);
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}